html {
    font-size: 20px;
    text-shadow: 2px 2px 4px gray;
}

body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    letter-spacing: 1.2em;
    }

.color1 span.skyblue {
    color: skyblue;
}

.color1 span.pink {
    color: rgb(255,192,203);
}

.color2 {
    color: rgb(255,192,203);
}

.color3 {
    color: skyblue;
}

#basic p {
    font-weight: bold;
}